---
published_at: 2008-01-19 00:00:00 Z
updated_by:
  email: murray.steele@gmail.com
  name: Murray Steele
title: Sponsors
created_at: 2008-01-19 13:19:54 Z
updated_at: 2013-10-14 11:26:12 Z
status: Published
created_by:
  email: murray.steele@gmail.com
  name: Murray Steele
---

Many companies have helped out LRUG and it's members in some way.  Here we list them and say thanks.

Some of these companies even offer us discount codes for services or events.  For example, most of the publisher user group programs involve a discount code for their webstore.  Generally speaking we'll give out these codes when we find out about them during one of our [meetings](/meetings) or via the [mailing list](/mailing-list).

## Meeting Administration

### [Skills Matter](http://skillsmatter.com/)

{::sponsor name="Skills Matter" size="main" /}

Skills Matter have been the kind providers of the venue for LRUG since 2006.  As organisers of several conferences and training sessions they've also been kind enough to supply us with various discounts, and even free tickets, for these events on occasion.

### [Big.First.Name](http://big.first.name/)

<img src="https://assets.lrug.org/images/big-first-name-logo.png" width="200" height="153" alt="Big First Name" title="Big First Name Logo"/>

At most LRUG meetings we all sport name badge stickers made using [Big.First.Name](http://big.first.name/).  The application is written by [Jason Lee](http://www.jason-lee.net.au/) a long-time LRUG member.

## Meeting Sponsorship

The following companies have sponsored one of our meetings by hosting us when our main venue sponsor couldn't for one reason or another!

<ol class="meeting-sponsor-list">
  <% hosting_sponsors.reject { |host| ['LRUG', 'Skills Matter'].include? host.name }.each do |host| %>
    <li><%= sponsor_logo host.name %></li>
  <% end %>
</ol>

The following companies have sponsored one of our meetings in one way or another.  We're very grateful for all the food, drinks, conference tickets, books, discount codes, and money-off vouchers they've provided us over the years.  If you'd like to show your support for LRUG, why not [find out how to sponsor us](http://readme.lrug.org/#sponsorship) too!

<ol class="meeting-sponsor-list">
  <% meeting_sponsors.each do |sponsor| %>
    <li><%= sponsor_logo sponsor.name %></li>
  <% end %>
</ol>

## Freebies!

### [Addison-Wesley](http://www.informit.com/imprint/index.aspx?st=61085)

<img src="https://assets.lrug.org/images/pearson-user-group-logo.gif" style="float: right;" width="336" height="92" alt="Pearson Education User Group Program" title="Pearson Education User Group Program Logo"/>

We're a member of the Addison-Wesley / Pearson Education [user group program](http://www.informit.com/user_groups/) and they've kindly sent us books for review, and as prizes for our occasional pub quiz style meetings.

<p style="clear:right;"></p>

### [APress](http://www.apress.com/)

<img src="https://assets.lrug.org/images/apress-user-group-logo.gif" style="float: right;" width="250" height="60" alt="APress User Group Program" title="APress User Group Program Logo"/>

We're also a member of the APress [user group program](http://www.apress.com/community/usergroup), membership of which has generated several copies of books to review and some prizes for pub quizes.

<p style="clear:right;"></p>

### [O'Reilly](http://www.oreilly.com/)

<img src="https://assets.lrug.org/images/oreilly-user-group-logo.gif" style="float: right;" width="250" height="60" alt="O'Reilly User Group Program" title="O'Reilly User Group Program Logo"/>

We're also a member of the O'Reilly [user group program](http://ug.oreilly.com/) and they've also been kind enough to support us with books for reviews and prizes.  They've also supplied us with discount codes for the major rails conferences that they organise.

<p style="clear:right;"></p>

### [Manning](http://www.manning.com/)

<img src="https://assets.lrug.org/images/manning-logo.gif" style="float: right;" width="226" height="40" alt="Manning Publications" title="Manning Publications Logo"/>

The final publisher we are a member of the [user group program](http://www.manning.com/ugprogram/) for is Manning, but so far, we've yet to really take advantage.
