---
created_by:
  email: murray.steele@gmail.com
  name: Murray Steele
category: meeting
title: December 2010 Meeting
updated_at: 2013-02-12 23:09:31 Z
published_at: 2010-12-01 08:52:35 Z
created_at: 2010-12-01 16:52:35 Z
status: Published
hosted_by:
  - :name: Skills Matter
meeting_date: 2010-12-13
---

The <span style="font-family: fantasy; font-size: 1.2em;">winterval</span> meeting will be on *Monday* the 13th of December, from 6:30pm to 8:00pm.  Our hosts [Skills Matter](http://skillsmatter.com/) will be providing the space, at their offices on Goswell Road; [The Skills Matter eXchange](http://skillsmatter.com/location-details/design-architecture/484/96).  It's a great space with plenty of room for the group, but you still need to <a href="#dec10registration">register to let Skills Matter know you are coming</a>.

## Agenda

### Makoto Inoue - Japanese and Ruby

[Makoto Inoue](http://twitter.com/makoto_inoue) says:

> My talk is based on an article called ["Japanese and OO"](http://satoshi.blogs.com/life/2004/09/post.html) which was
> written by a Japanese guy who wrote Windows 95 and his thought
> around what helped him to build the software as a Japanese. I
> really enjoyed the article and thought it relates to Ruby which is
> written by another Japanese (the Matz). I will also add some of
> my own thoughts onto the talk.

{::coverage year="2010" month="december" talk="japanese-and-ruby" /}

### <strike>Sean O'Halpin - Processing Tweets at the BBC</strike>

*Sean was ill so he didn't make this meeting, he did however make it to our [January 2011 meeting](/meetings/2010/12/01/december-2010-meeting/).*

[Sean O'Halpin](https://github.com/seanohalpin) is going to tell us about some work at the BBC involving twitter:

> I'll be talking about how we're using Ruby to process tweets in
> realtime to discover inbound links to the [BBC Zeitgeist](http://zeitgeist.prototyping.bbc.co.uk/zeitgeist)
> and how we're reading the [Twitter Firehose](http://dev.twitter.com/pages/streaming_api) (about 1000 tweets/sec =
> about 90 million a day) and storing the data in Amazon S3.
>
> There'll be a bit about [Hadoop](http://hadoop.apache.org/) and [Map/Reduce](http://en.wikipedia.org/wiki/Map_reduce) too.

### Analogue Blog

Our meetings have space, usually at the start, but also between the talks if there's a lot of laptop faffing, for announcements from the audience.  If you have something you think is of interest to the group; perhaps a new conferences has announced their CFP or ticket discount, or there's a new gem you want to let people know about, or maybe your team of awesome ninja rockstars is hiring.  Whatever!  There's no need to ask permission; get up, say your thing and sit down again.  Just be quick so you don't run on into the time for the scheduled talks.  In fact if it's longer than a minute, maybe you should think about [doing a longer talk](/speaking/).

## Pub

After the talks we'll brave the cold and head to [The Slaughtered Lamb](http://www.theslaughteredlambpub.com/) for some drinks and more informal chatter.  Our talks usually finish at about 8pm, and you'll find us jostling for space at the bar shortly after.  If you won't make it for the main meeting, feel free to pop along just for the pub bit.

## Registration {#dec10registration}

Skills Matter prefer that you [register your attendance with them](http://skillsmatter.com/event/ajax-ria/japanese-and-ruby-and-processing-tweets-at-the-bbc/rl-311) if you are coming to the meeting.  On a few exceptional occasions we've had to turn away people who haven't registered, but this has only been at extremely popular meetings, and has yet to happen at the new venue on Goswell Road.  It's better to be safe than sorry though, and it is polite (don't forget [MINASWAN](http://oreilly.com/ruby/excerpts/ruby-learning-rails/ruby-glossary.html#I_indexterm_d1e32036)), so please do [register](http://skillsmatter.com/event/ajax-ria/japanese-and-ruby-and-processing-tweets-at-the-bbc/rl-311).
