.hidden {
  display: none;
}
#page {
  width: 700px;
  margin: 20px auto;
}
#main {
  margin-top: 1em;
  overflow: auto;
  height: 1%;
}
#header {
  font-size: 20px;
}
#site-title {
  margin: 0em;
  padding: 10px;
  border: 1px dotted #f00;
}
#site-title span.line {
  display: inline;
}
#site-title span.ruby {
  color: #c00;
}
#info {
  text-align: right;
}
#sidebar-wrapper {
  width: 200px;
  float: right;
}
div#sidebar {
  border: 1px dotted red;
  margin-right: 20px;
  padding: 0.5em 1em;
  font-size: 0.95em;
}
div#sidebar h3 {
  margin-top: 0em;
  padding-top: 0em;
}
div#sidebar ul {
  padding-left: 1em;
}
#content-wrapper {
  width: 500px;
  float: right;
}
#content {
  margin-top: 0em;
}
#footer {
  clear: both;
}
div#content .first.entry h2, div#content h1 {
  margin-top: 0em;
  font-size: 2em;
}
div#content .entry {
  font-size: 0.9em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #f00;
}
div#content .first.entry {
  font-size: 1.1em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.notice {
  color: red;
}
.calendar-link img {
  display: inline;
  vertical-align: bottom;
}
.minor {
  font-size: 90%;
}

@media print {
  #sidebar-wrapper {
    display: none;
  }

  #content-wrapper {
    width: 100%;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ") ";
    font-weight: normal;
  }

  a[href^="/"]:after {
    content: " (http://lrug.org" attr(href) ") ";
    font-weight: normal;
  }

  a[href^="#"]:after,
  #sponsors a:after,
  h2 a:after {
    content: "" !important;
  }
}
