#info {
  text-align: right;
}

@media print {
  #sidebar-wrapper {
    display: none;
  }

  #content-wrapper {
    width: 100%;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ") ";
    font-weight: normal;
  }

  a[href^="/"]:after {
    content: " (http://lrug.org" attr(href) ") ";
    font-weight: normal;
  }

  a[href^="#"]:after,
  #sponsors a:after,
  h2 a:after {
    content: "" !important;
  }
}
