#header {
  font-size: 20px;
  margin-top: var(--space-6);

  #site-title {
    margin: 0;
    padding: var(--space-4);
    border: 1px dotted #f00;
  }
  #site-title span.line {
    display: inline;
  }
  #site-title span.ruby {
    color: #c00;
  }
}
