.meeting-sponsor-list {
  overflow: auto;
  padding: 0px 25px;
}
.meeting-sponsor-list li {
  list-style: none;
  float: left;
  margin: 15px;
}
.meeting-sponsor-list li:nth-child(3n+1) {
  clear: left;
}
.meeting-sponsor-list li:nth-child(3n+1):last-child {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.meeting-sponsor-list li:nth-child(3n+2):last-child {
  margin-left: 85px;
  margin-right: 85px;
}
.meeting-sponsor-list li figure {
  display: inline-block;
  width: 120px;
}
