.speaker__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $space-3;
}

.speaker {
  grid-column: span 13;
}

.speaker__name {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.speaker__socials {
  display: inline-block;

  a {
    padding-left: $space-3;

    &:hover {
      background: none;
      opacity: 0.5;
    }
  }

  img {
    display: inline-block;
  }
}
