.speaker__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $space-6;
}

.speaker {
  grid-column: span 13;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $space-6;
}

.speaker__avatar {
  grid-column: 1 / 3;

  img {
    width: 100%;
    border-radius: 0.25rem;
  }
}


.speaker__details {
  grid-column: 3 / 13;
}

.speaker__name {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: $space-4;
}

.speaker__socials {
  display: inline-block;

  a {
    padding-left: $space-3;

    &:hover {
      background: none;
      opacity: 0.5;
    }
  }

  img {
    display: inline-block;
  }
}
