---
published_at: 2006-11-09 00:00:00 Z
title: Members and Friends
created_at: 2006-11-09 16:19:54 Z
updated_at: 2013-02-12 23:09:14 Z
status: Published
created_by:
  email: murray.steele@gmail.com
  name: Murray Steele
---

A (likely incomplete) list of people who regularly attend LRUG [meetings](/meetings/), or have attended a few of them, or maybe even just one.  Maybe they just signed up to the mailing-list, whatever, it's not an exclusive club or anything.

<ul>
  <% data.members.each do |member| %>
    <li class="vcard">
      <a class="url" href="<%= member.url %>" title="<%= member.url %>">
        <span class="fn"><%= member.fn %></span>
      </a>
    </li>
  <% end %>
</ul>
