---
created_by:
  email: murray.steele@gmail.com
  name: Murray Steele
category: meeting
title: July 2011 Meeting
updated_at: 2013-02-12 23:09:33 Z
published_at: 2011-07-02 07:51:26 Z
created_at: 2011-07-02 14:51:26 Z
status: Published
hosted_by:
  - :name: Skills Matter
meeting_date: 2011-07-11
---

The July 2011 meeting of LRUG will be on *Monday* the 11th of July, from 6:30pm to 8:00pm.  Our hosts [Skills Matter](http://skillsmatter.com/) will be providing the space, at their offices on Goswell Road; [The Skills Matter eXchange](http://skillsmatter.com/location-details/design-architecture/484/96).  It's a great space with plenty of room for the group, but you still need to <a href="#jul11registration">register to let Skills Matter know you are coming</a>.

## Agenda

It's unintentional, but it looks like we have a theme this month of using ruby to build high-profile applications for large organizations.

### Building a prototype site for the UK government

Some of the team behind [alphagov](http://alpha.gov.uk), the new prototype for a UK government website will talk about the ruby they've used in delivering the site, and some of the lessons learned.

{::coverage year="2011" month="july" talk="building-a-prototype-site-for-the-uk-government" /}

### Extracting value from legacy applications using Ruby

[Jairo Diaz](http://twitter.com/codescrum) and John Small will be talking to us about the rails application they have developed for a large UK retailer and how they overcame some of the challenges along the way.

{::coverage year="2011" month="july" talk="extracting-value-from-legacy-applications-using-ruby" /}

## Pub

After these talks we'll make the short trip from Skills Matter's offices to the more informal surroundings of [The Slaughtered Lamb](http://www.theslaughteredlambpub.com/).  If you can't make it to the main meeting, you'll find us crowding the bar from around 8pm onwards.  The pub part of the meeting is very social and is a perfect opportunity to engage the speakers in more in-depth questions raised by their talks.  Or just talk about the latest trending topics on twitter.  It's your call.

## Registration {#jul11registration}

Skills Matter prefer that you [register your attendance with them](http://skillsmatter.com/podcast/home/ruby-july/js-2149) if you are coming to the meeting.  There's plenty of space so you'll get in if you forget, but it is polite (don't forget [MINASWAN](http://oreilly.com/ruby/excerpts/ruby-learning-rails/ruby-glossary.html#I_indexterm_d1e32036)), so please do [register](http://skillsmatter.com/podcast/home/ruby-july/js-2149).

You can also follow [this meeting on lanyrd](http://lanyrd.com/2011/lrug-july/), but be aware this is not a meaningful way to tell Skills Matter you wish to attending.  It's just for the lols, innit?
