---
created_by:
  email: murray.steele@gmail.com
  name: Murray Steele
category: meeting
title: February 2009 Meeting
updated_at: 2013-02-12 23:09:24 Z
published_at: 2009-01-20 06:28:32 Z
created_at: 2009-01-20 14:28:32 Z
status: Published
hosted_by:
  - :name: Skills Matter
meeting_date: 2009-02-09
---

The next meeting of LRUG will be on Monday the 9th of February, from 6:30pm to 8:00pm.  As usual our hosts [Skills Matter](http://skillsmatter.com/) will provide the space, either at [their offices](http://maps.google.co.uk/maps?f=q&hl=en&q=EC1R+0BE&layer=&ie=UTF8&z=16&om=1&iwloc=addr) or [their overflow venue](http://tinyurl.com/5qfpkc), depending on the number of <a href="#feb09registration">registrations</a>.  So make sure that you do <a href="#feb09registration">register your attendance</a> to help them choose and so you can be let into the venue.

## Agenda

This month (just like we did [last February](/meetings/2008/february/)) we're going to have a series of lightning talks in the 20x20 slide format.  For those who didn't attend last year, or aren't familiar with the format is: the presenter has 20 slides which are displayed for 20 seconds each, giving a total presentation time of 6:40.  Last year it was a really fun evening as we got to hear about a load of different stuff and with only 6:40 in which to get their point across the presenters maybe didn't have enough time to fully justify their positions.  It made for some interesting questions at the end!

Those brave volunteers are:

### Twit 4 Dead

[Tom Armitage](http://infovoer.org/):

> His [Twit 4 Dead](http://infovore.org/archives/2008/12/29/twit-4-dead/) bots ([Francis](http://twitter.com/francis_l4d), [Louis](http://twitter.com/louis_l4d), [Zoey](http://twitter.com/zoey_l4d) & [Bill](http://twitter.com/bill_l4d)).

{::coverage year="2009" month="february" talk="his-twit-4-dead-bots-francis-louis-zoey-bill" /}

### Cry for help

[Julian Burgess](http://blog.opening-times.co.uk/):

> Cry for help - an anti talk?

{::coverage year="2009" month="february" talk="a-cry-for-help-an-anti-talk" /}

### `rubysmokes`

[Steve Ganly](http://concept-shop.com/):

> A proposal for [smoke testing](http://en.wikipedia.org/wiki/Smoke_testing#Smoke_testing_in_software_development) ruby

{::coverage year="2009" month="february" talk="ruby-smokes-a-proposal-for-smoke-testing-ruby" /}

### All the ruby that's fit to merge

[Richard Livsey](http://livsey.org/):

> All the ruby that's fit to merge: [Rails 3.0 & Merb 2.0](http://weblog.rubyonrails.org/2008/12/23/merb-gets-merged-into-rails-3)

{::coverage year="2009" month="february" talk="all-the-ruby-thats-fit-to-merge-rails-3-0-merb-2-0" /}

### Scientific Ruby

[Chris Lowis](http://blog.chrislowis.co.uk/):

> Ruby and the [GNU Scientific Library](http://www.gnu.org/software/gsl/) and/or [R](http://www.r-project.org/).

{::coverage year="2009" month="february" talk="ruby-and-the-gnu-scientific-library-and-or-r" /}

### dpkg-tools

[Matt Patterson](http://reprocessed.org):

> A talk about [dpkg-tools](http://dpkg-tools.rubyforge.org/).

{::coverage year="2009" month="february" talk="dpkg-tools" /}

### Ruby and XMPP

[Thomas Pomfret](http://thomaspomfret.com/):

> Ruby and [XMPP](http://xmpp.org/).

{::coverage year="2009" month="february" talk="ruby-and-xmpp" /}

### `rubygame`

[Roland Swingler](http://knaveofdiamonds.tumblr.com/):

> Something about [rubygame](http://rubygame.sourceforge.net/).

{::coverage year="2009" month="february" talk="something-about-rubygame" /}

### `ruby-debug`

[Tom ten Thij](http://tomtenthij.co.uk/):

> Debugging with [ruby-debug](http://www.datanoise.com/ruby-debug).

{::coverage year="2009" month="february" talk="debugging-with-ruby-debug" /}

## Pub

After that many presentations there's bound to be a lot to talk about, so we'll make our way to [The Crown Tavern](http://fancyapint.com/pubs/pub199.html).  This pub is really close to either of the venues we use for our meetings and is perfect for a post-meeting chat and drink.  If you can't make it to the meeting, but still fancy some ruby chat, just head along to the pub and we'll be the ones crowding the bar from about 8:00pm onwards.

## Registration {#feb09registration}

[Please register with Skills Matter](http://skillsmatter.com/event/ajax-ria/lightning-talks-ruby-and-rails) if you are planning to come.  As we mentioned above, they need us to register for fire-regulations and making sure we get the best sized room for the number of attendees.

There's also an [upcoming event](http://upcoming.yahoo.com/event/1504505/) for those of us that love online calendaring, but this is not a place to indicate attendance in a meaningful way for Skills Matter.
