---
updated_by:
  email: frederick.cheung@lrug.org
  name: Frederick Cheung
created_by:
  email: frederick.cheung@lrug.org
  name: Frederick Cheung
category: meeting
title: February 2022 Meeting
published_at: 2022-01-13 21:30:00 +0000
created_at: 2022-01-13 20:42:00 +0000
status: Published
sponsors:
  - :name: Cleo
meeting_date: 2022-02-21
---

The February 2022 meeting of LRUG will be on *Monday the 21st of February*,
from _6:20pm_ to _8:00pm_ (meeting starts at _6:30pm_).

[Full registration details are given below](#feb22registration), but do
note that **we will only be sending out the zoom meeting url to people who
have registered, because we have limited places, so please do it.**

## Agenda

It's our annual âš¡ï¸lightningâš¡ï¸ talks event.  All short talks, all the
time.

### Javascript in Rails: A New Hope

[Frederick Cheung](https://twitter.com/fglc2):

> Tired of slow webpack builds and daunting configuration files?
> Find out how the new css-bundling and js-bundling gems can roll back the years
> and make javascript in rails fast and simple again.

{::coverage year="2022" month="february" talk="javascript-in-rails-a-new-hope" /}

### Getting past enemy images

[Pablo Dejuan](https://pablo.pm):

> Enemy images hinder our communication with people when we need them
> the most: to agree with another colleague over a code review, to interview
> a third party, to have an important conversation with our boss or direct
> report (technical or non-technical topic).
> In this talk we will raise awareness and cover one way of overcoming the
> initial enemy image to get a better outcome for us and our team.

{::coverage year="2022" month="february" talk="getting-past-enemy-images" /}

### The tale of the 60+ second page loads

[Jared Turner](https://www.linkedin.com/in/jaredlt/):

> A monstrous mystery and a head-scratching hunt. Follow along to discover
> why, just why, is that darn page so slow!?

{::coverage year="2022" month="february" talk="the-tale-of-the-sixty-plus-second-page-loads" /}

### solargraph-dead_end

[Fritz Meissner](https://twitter.com/fritzmeissner):

> The awesome dead_end gem gives really good feedback on where that elusive
> missing `end` keyword is hiding in your Ruby file.
> At a thoughtbot hackathon a few of us worked on a solargraph plugin
> for it so you can get this feedback in your editor. Come hear about
> the results!

{::coverage year="2022" month="february" talk="solargraph-dead-end" /}

### Introducing ViewComponent

[Simon Fish](https://simon.fish)

> The view layer is the Wild West of Rails. Let's look at how ViewComponent
> helps you break down and test your Rails views.

{::coverage year="2022" month="february" talk="introducing-viewcomponent" /}

### A Little Pessimism Never Killed Nobody

[Marija MandiÄ‡](https://www.linkedin.com/in/marija-mandic/)

> Come join and hear my experience on a real life example of concurrency problem
> and different approaches to fixing it.

{::coverage year="2022" month="february" talk="a-little-pessimism-never-killed-nobody" /}

### Metaprogramming I Do In My Side Projects That My Colleagues Won't Let Me Do In The Real App At Work :-(

[PJ](https://github.com/isitpj)

> Metaprogramming is fun but, more importantly, makes you feel *really* clever.
> However, it's not always the best fit for codebases with multiple
> contributors. Let's take a few minutes to explore some neat tricks you can
> do when you don't need to worry about other people understanding your code
> ðŸ˜€

{::coverage year="2022" month="february" talk="metaprogramming-my-colleagues-wont-let-me-do-at-work" /}

### How to think about Learning

[Hywel Carver](https://www.linkedin.com/in/hywelc/)

> Why do we learn? How do we learn? How do we learn well?
> 3 mental models that will answer the first 3 of those questions and change how you think

{::coverage year="2022" month="february" talk="how-to-think-about-learning" /}

## iPad giveaway

{::sponsor name="Cleo" size="main" /}

The kind people at [Cleo](https://www.meetcleo.com), a fintech chatbot
fighting for the world's financial health, have kindly offered to sponsor
the meeting to the tune of a couple of iPads. Everyone that attends the
meeting will be entered into a prize draw to win one of these iPads and
the winning names will be drawn from a hat<sup>[*](#ig-hat)</sup>.

Cleo are currently hiring so check out [their careers
site](https://web.meetcleo.com/careers), or apply directly for their two
open roles for [backend ruby
engineers](https://boards.greenhouse.io/cleoai/jobs/5033034002) and
[senior backend ruby
engineers](https://boards.greenhouse.io/cleoai/jobs/4628944002).

Thanks [Cleo](https://www.meetcleo.com)!

<sup><a name="ig-hat">*</a></sup> <small>We may not use an actual hat.</small>

## Afterwards

The best we can do at the moment is promise that a few of us will hang out
on the zoom call after all the talks are done to blather on for a bit.
It's a poor substitute for actually meeting up in person, but we'll
persevere with it.  If you have some ideas about an alternative approach,
then let us know at [organisers@lrug.org](mailto:organisers@lrug.org).

## Registration {#feb22registration}

Prior to attending you should familiarise yourself with our
[README](http://readme.lrug.org/) paying close attention to [the code of
conduct](http://readme.lrug.org/#code-of-conduct) which applies to all
attendees, even though we are all in our own little bubbles.

### Secure your place

Even in a virtual world there are limited places for attending the
meeting so **[you need to register via eventbrite][feb2022-eventbrite]**.
The link to the zoom meeting will only be sent to registered attendees on
the day of the meeting, around about 6pm. Keep an eye out for the email
and check your spam just in case.

Do prepare yourself in advance by [downloading the zoom
client](https://zoom.us/support/download).

[feb2022-eventbrite]: https://www.eventbrite.com/e/lrug-february-2022-tickets-244320267497
