/* This is the base.erb layout:
 * #page {}
 *   #header {}
 *   #main {}
 *     #content-wrapper {}
 *       #content {}
 *     #sidebar-wrapper {}
 *       #sidebar {}
 *   #footer {}
 */

*, :before, :after {
  box-sizing: border-box;
}

#page {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding-left: var(--space-8);
  padding-right: var(--space-8);
  min-width: 375px;
}

#header {
  //margin-bottom: var(--space-6);
}

#main {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media only screen and (min-width: 1280px) {
    grid-gap: var(--space-16);
  }

  #content-wrapper {
    grid-column: span 12;
    grid-row: 1;

    @media only screen and (min-width: 1280px) {
      grid-column: 4 / 13;
      grid-row: 1;
    }
  }

  #sidebar-wrapper {
    grid-column: span 12;
    grid-row: 2;

    @media only screen and (min-width: 1280px) {
      grid-column: 1 / 4;
      grid-row: 1;
    }
  }
}
