body {
  font-family: georgia;
}

a {
  color: #c00;
  text-decoration: none;

  &:hover {
    background-color: #c00;
    color: #fff;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
