:root {
  // Same spacing scale as Tailwind https://tailwindcss.com/docs/theme#spacing
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-16: 4rem;

  // Site 
  --page-max-width: 1280px;
}
