---
title: Members for hire
created_at: 2015-02-23 16:19:54 Z
slug: members-for-hire
breadcrumb: Members for hire
created_by:
  email: james@lety.co
  name: James McCarthy
class_name: ""
status: Published
---

A list of LRUG members who are available to hire on a contract basis. These individuals usually attend LRUG [meetings](/meetings/), or have attended a few of them, or maybe even just one.  Maybe they just signed up to the mailing-list, whatever, it's not an exclusive club or anything.

<ul>
  <% data.hire.each do |member| %>
    <li class="vcard">
      <a class="url" href="<%= member.url %>" title="<%= member.url %>">
        <span class="fn"><%= member.fn %></span>
      </a>
    </li>
  <% end %>
</ul>
