---
created_by: 
  email: murray.steele@gmail.com
  name: Murray Steele
category: meeting
title: June 2008 Meeting
updated_at: 2013-02-12 23:09:21 Z
published_at: 2008-05-27 02:17:23 Z
created_at: 2008-05-22 13:58:17 Z
status: Published
hosted_by:
  - :name: Skills Matter
meeting_date: 2008-06-09
---

<a href="http://www.flickr.com/photos/snowblink/2569082736/" title="Books and Brownies (20080609-R0011188.jpg) by snowblink, on Flickr"><img src="http://farm4.static.flickr.com/3050/2569082736_12dca99249_m.jpg" width="240" height="240" alt="Books and Brownies (20080609-R0011188.jpg)" /></a>

The next meeting of LRUG will be on Monday the 9th of June, from 6:30pm to 8:00pm.  It's likely, if enough people <a href="#registration">sign up</a>, that it will be in the [Skills Matter](http://www.skillsmatter.com/) overflow venue at [The Old Sessions House](http://www.sessionshouse.com/) on [Clerkenwell Green](http://tinyurl.com/2bjjzz).  However, if people don't sign up early enough we'll be in the normal [1 Sekforde St.](http://maps.google.co.uk/maps?f=q&hl=en&q=EC1R+0BE&layer=&ie=UTF8&z=16&om=1&iwloc=addr) venue.  So please do <a href="#registration">register your attendance</a> early (see the note about <a href="#jun08registration">registration</a> below).

## Agenda

### Ruby as Multimedia glue

<a href="http://www.flickr.com/photos/snowblink/2574308698/" title="Nick's DS Playing Timeshifted TV (20080609-R0011214.jpg) by snowblink, on Flickr"><img src="http://farm4.static.flickr.com/3022/2574308698_9316b8f9a0_m.jpg" width="240" height="240" alt="Nick's DS Playing Timeshifted TV (20080609-R0011214.jpg)" /></a>

[Nick Ludlam](http://nick.recoil.org) offers up:

> A talk about implementing a gem for communicating with the open source [MythTV](http://www.mythtv.org/) software, 
> streaming and transcoding recordings on the fly with the aid of [Mongrel](http://mongrel.rubyforge.org/), and viewing them 
> using a custom interface written using [RubyCocoa](http://rubycocoa.sourceforge.net/) on Mac OS X.  The talk will 
> be a whistlestop tour of the various aspects of getting all this working.

Nick released the various components that he talked about on [his website](http://nick.recoil.org/code/) and on his [github account](http://github.com/nickludlam/).

A video of Nick's talk, filmed by [Skills Matter](http://skillsmatter.com/podcast/ajax-ria/ruby-as-multimedia-glue) is available on [Google Video](http://video.google.com/videoplay?docid=-8605443571082487158).  His slides are [also available](http://skillsmatter.com/custom/presentations/ruby-mythtv-talk.pdf).

### Genomes On Rails

<a href="http://www.flickr.com/photos/snowblink/2569085302/" title="Big (20080609-R0011197.jpg) by snowblink, on Flickr"><img src="http://farm4.static.flickr.com/3054/2569085302_447b926faa_m.jpg" width="240" height="240" alt="Big (20080609-R0011197.jpg)" /></a>

[Matt Wood](http://greenisgood.co.uk) is going to give a talk about the work he's been doing with rails at work:

> [The Human Genome Project](http://www.sanger.ac.uk/HGP/) aimed to determine the entire DNA sequence of man: 
> it was completed in 13 years after an international effort and a billion dollar budget. To further our understanding
> of DNA, genes, proteins and their function, the [Wellcome Trust Sanger Institute](http://sanger.ac.uk) 
> is building the next generation of high throughput sequencing, using Ruby and Rails. 
> This talk will cover the infrastructure required to handle multi-petabyte, highly scalable systems 
> and how we're using Rails to quickly build flexible software to support this effort.

Matt also gave a longer version of this talk at [RailsConf Portland 2008](http://en.oreilly.com/rails2008/public/schedule/detail/1846) on the Sunday.

A video of Matt's talk, filmed by [Skills Matter](http://skillsmatter.com/podcast/ajax-ria/genomes-on-rails) is available on [Google Video](http://video.google.com/videoplay?docid=-1098999428505936718).  His slides are [also available](http://skillsmatter.com/custom/presentations/genomesonrails.pdf).

## Pub

We'll head on over to [The Crown Tavern](http://fancyapint.com/pubs/pub199.html) for a drink after the talks.  We aim to finish the talks at around about 8pm, so if you don't think you'll be able to make it for the talks head on over to the pub to catch up on what went on.

## Registration {#jun08registration}

[Please register with Skills Matter](http://skillsmatter.com/event/ajax-ria/lrug-meeting-ruby-as-multimedia-glue-genomes-on-rails) if you are planning to come.  Registration allows SKills Matter to organise a larger room if we need it.  For the past few meetings we've used their overflow venue and thus avoided having to turn people away because of fire-regulations.  We hope to do so again so please [register now](http://skillsmatter.com/event/ajax-ria/lrug-meeting-ruby-as-multimedia-glue-genomes-on-rails) rather than later (Skills Matter need about a weeks notice to book the larger room).  

There's also an [upcoming event](http://upcoming.yahoo.com/event/729493/) for those of us that love online calendaring, but this is not a place to indicate attendance in a meaningful way for Skills Matter.
