---
updated_by:
  email: murray.steele@gmail.com
  name: Murray Steele
created_by:
  email: james@lazyatom.com
  login: lazyatom
  name: James Adam
title: Meetings
updated_at: 2013-02-23 13:58:08 Z
published_at: 2006-09-05 00:00:00 Z
created_at: 2006-09-05 11:38:34 Z
parts:
  sidebar:
    :content: |
      <h3>Archives By Year</h3>
      <ul>
        <% config[:years].reverse.each do |year| %>
          <li><%= link_to year, "/meetings/#{year}" %></li>
        <% end %>
      </ul>

      <%= meeting_calendar_link %>

    :render_as: .md
status: Published
---
<% content_for(:rss_path) { 'meetings/' } %>

<%= partial 'meetings/meeting', collection: meeting_pages.take(10) %>
