---
updated_by:
  email: murray.steele@gmail.com
  name: Murray Steele
created_by:
  email: murray.steele@gmail.com
  name: Murray Steele
category: meeting
title: March 2015 Meeting
updated_at:
published_at: 2015-02-25 10:10:10 Z
created_at: 2015-02-22 18:32:10 Z
sponsors:
  - :name: Braintree Payments
status: Published
hosted_by:
  - :name: Skills Matter
meeting_date: 2015-03-09
---

The March 2015 meeting of LRUG will be on *Monday the 9th of March*, from 6:30pm to 8:00pm.  Our hosts [Skills Matter](http://skillsmatter.com/) will be providing the space, at their offices on Goswell Road; [The Skills Matter eXchange](https://skillsmatter.com/locations/96-skills-matter-exchange).  <a href="#mar15registration">Registration details are given below</a>.

## Agenda

### Exploring #to_proc

[Paul Mucur](http://mudge.name/) says:

> A look at how some "odd syntax" [introduced in Rails 1.1](https://github.com/rails/rails/commit/69bf71f5e9b537f88acc0d4492a057336e7305d1) and
> then [added to Ruby itself](https://github.com/ruby/ruby/commit/ac4d6ddfa3219c212d2865ed600a0ab568d5f0b5) might not solely be for the sake of
> convenience but hint at a more powerful idea seen in other
> programming languages.

{::coverage year="2015" month="march" talk="exploring-to-proc" /}

### pkgr - Packaging Ruby applications with no sweat

[Łukasz Korecki](http://lukasz.korecki.me) says:

> In the life of every<sup>[*](#pkgr-ps)</sup> project there is
> this moment where standard deployment methods just don’t cut
> it. You have many servers, many applications, many developers.
> It can become a mess very, very quickly.
>
> Have you ever dreamed of hosting your own apt repository? When
> was the last time you were annoyed about slow deployment times
> because the asset pipeline needs to run every single server
> your app runs on? Oh and lets not mention installing ruby
> version managers on servers, ok? (I will though).
>
> In this talk I will show how packaging (and deploying) Ruby
> applications doesn’t have to be hard or time consuming and can
> work with a project of any size.
>
> <a name="pkgr-ps">*</a> - huge assumption warning!”

{::coverage year="2015" month="march" talk="pkgr-packaging-ruby-applications-with-no-sweat" /}

### Pizza

{::sponsor name="Braintree Payments" size="main" /}

The nice people at [Braintree Payments](https://braintreepayments.com) have arranged to buy some pizza for us to eat during the talks.  The Pizza will be there from about 6pm so turn up early if you're hungry!  There'll be a selection to suit most tastes: meat-eaters, vegetarian, and vegan.  We're not sure if the pizza company does a gluten-free option, but we'll get one if they do.

Thanks [Braintree](https://braintreepayments.com)!

## Pub

The talks end at 8pm and I'm sure all that talking and pizza will have given us a bit of a thirst.  The evening continues at [The Slaughtered Lamb](http://www.theslaughteredlambpub.com/) which is a 5 minute walk from the Skills Matter office.  It's a great opportunity to talk to the speakers in question, or just catch up with some other London rubyists.  If you're unable to attend the talks please feel free to attend the pub only.

## Registration {#mar15registration}

To secure a place at the meeting you *must* [register with our hosts Skills Matter](https://skillsmatter.com/meetups/7063-exploring-to_proc-and-pkgr).  It helps to make sure we have the room laid out with enough chairs, and in extreme cases that we get priority on the larger rooms over other groups using the space on the same night.  Also, it's polite (don't forget [MINASWAN](http://oreilly.com/ruby/excerpts/ruby-learning-rails/ruby-glossary.html#I_indexterm_d1e32036)), so please do [register with Skills Matter](https://skillsmatter.com/meetups/7063-exploring-to_proc-and-pkgr).  Prior to attending you should familiarise yourself with our [README](http://readme.lrug.org/).

You can also follow [this meeting on lanyrd](http://lanyrd.com/2015/lrug-march/), but this is not a meaningful way to tell Skills Matter you wish to attend.  It's just for the lols, innit?
