### More Info

* [Members & friends](/members-and-friends/)
* [Logo Fite!](/what-are-we-going-to-do-about-a-logo/)
* [Posting Jobs](/posting-jobs/)

### Next or Most Recent

* Meeting: <%= link_to_most_recent('meeting') %>
* Night: <r:find url="/nights/"><r:children:each limit="1" order="desc"><r:link /></r:children:each></r:find>
* Podcast: <r:find url="/podcasts/"><r:children:each limit="1" order="desc"><r:link /></r:children:each></r:find>

Older [meetings](/meetings/) \| [nights](/nights/) \| [podcasts](/podcasts/)

<%= meeting_calendar_link %>

### Get In Touch

* [Mailing List](http://lrug.org/mailing-list)
* [IRC](/irc/) (#lrug on freenode)
* [El Rug (Twitter)](http://twitter.com/lrug)
* Photos: [group (preferred)](http://flickr.com/groups/680991@N25/) or [tag](http://flickr.com/photos/tags/lrug/)
* [Github](http://github.com/lrug)
* [Last.FM Group](http://www.last.fm/group/LRUG)
* [LinkedIn Group](http://www.linkedin.com/e/gis/117315/0027271A7866) (this links to a join request)

### LRUG Nights

We have [semi-regular social meetups](/nights/) with no agendas.  Come along!

### Book Reviews

Members occasionally [review books](/book-reviews/).  Most recent: <%= link_to_most_recent('book_review') %>

### Sponsors

Companies [help us out sometimes](/sponsors).

### RSS

* [Meetings](/rss/meetings/)
* [Podcasts](/rss/podcasts/)
* [LRUG Nights](/rss/nights/)
* [Book Reviews](/rss/book-reviews/)

### Renew the domain

<a href='http://www.pledgie.com/campaigns/2732'><img alt='Click here to lend your support to: LRUG Domain Renewal and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/2732.png?skin_name=chrome' border='0' /></a>
