<div id="header">
  <div id="site-title">
<span class="line"><%= link_to 'LRUG', '/' %></span> : <span class="line">london</span> <span class="line ruby"><%= link_to 'ruby', 'http://www.ruby-lang.org/en/' %></span> <span class="line">user</span> <span class="line">group</span>
  </div>
</div>
<div class="readme-announcement">
  <p>Check out our <%= link_to 'README', 'http://readme.lrug.org/' %> to find out about us and our <%= link_to 'Code of Conduct', 'http://readme.lrug.org/#code-of-conduct' %>.</p>
</div>
<hr class="hidden" />
