<div id="header">
  <div id="site-title">
<span class="line"><a href="http://lrug.org/">LRUG</a></span> : <span class="line">london</span> <span class="line ruby"><a href="http://www.ruby-lang.org/en/">ruby</a></span> <span class="line">user</span> <span class="line">group</span>
  </div>
</div>
<div class="readme-announcement">
  <p>Check out our <a href="http://readme.lrug.org/">README</a> to find out about us and our <a href="http://readme.lrug.org/#code-of-conduct">Code of Conduct</a>.</p>
</div>
<hr class="hidden" />
